@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/90 backdrop-blur-md border border-slate-200 shadow-sm transition-all duration-300;
  }

  .text-gradient {
    @apply bg-gradient-to-br from-primary-600 via-primary-500 to-primary-400 bg-clip-text text-transparent;
  }
}